# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

#VSCode
.vscode/

# Python
__pycache__/
*.py[cod]
*.$py.class
*.so
*.Python
config_local.py

# Virtual Environments
env/
venv/
ENV/
conda-env/

# OS files
.DS_Store
Thumbs.db

# Environment Variables
.env

# Exports
output/
*.xlsx
*.pkl
*.png
*.pdf
*.html
/.quarto/
**/*.quarto_ipynb
!data/coverage_report.pkl

#Stack Dump
bash.exe.stackdump